body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1, h2, p {
    text-align: center;
}

p {
    margin-bottom: 0;
}

input, 
.btn {
    display: block;
    margin: 10px auto;
    font-size: 1em;
}

.btn {
    min-width: 350px;
    margin-top: 20px;
}

.modal {
    margin-top: 30%;
}

input {
    height: 40px;
}

.well {
    display: none;
}